<%= will_paginate runs %>
<table class="runs_list">
    <tr>
        <th class="created_at">Пратено на</th>
        <th>Състезание</th>
        <th>Задача</th>
        <th>Потребител</th>
        <th class="status">Статус</th>
        <th>Max Време</th>
        <th>Max Памет</th>
        <% if have_visible?(runs) %>
          <th>Решения</th>
        <% end %>
    </tr>
<% for run in runs %>
    <tr>
        <td class="created_at"><%= run.created_at %></td>
        <td><%= link_to run.problem.contest.name, :controller => :practice, :action => :open_contest, :contest_id => run.problem.contest.id %></td>
        <td><%= link_to run.problem.name, :controller => :practice, :action => :get_problem_description, :contest_id => run.problem.contest.id, :problem_id => run.problem.id %></td>
        <td><%= link_to run.user.name, user_path(run.user) %></td>
        <td class="status"><%= run.status %></td>
        <td class="time"><%= run.max_time.to_f %> sec.</td>
        <td class="mem"><%= run.max_memory.to_i / 1024 %> KB</td>
        <% if have_visible?(runs) %>
          <td>         
            <% if policy(run).show? %>
              <%= link_to "Решение", admin_contest_problem_run_path(run.problem.contest, run.problem, run) %>
            <% else %>
              Not visible
            <% end %>
          </td>
        <% end %>
    </tr>
<% end %>
</table>
<%= will_paginate runs %>
