<h1>Задачи</h1>
<p><%= link_to "Задачи по категории", categories_path %></p>
<%= will_paginate @problems, renderer: BootstrapPagination::Rails %>
<table class="table table-bordered">
  <tr>
    <th>Име</th>
    <th>Състезание</th>
    <th>Пратени решения</th>
    <th>Среден брой точки</p>
    <% if current_user %>
      <th>Твоят резултат</th>
    <% end %>
    <th>Решения</th>
  </tr>
  <% @problems.each do |problem| %>
    <% if current_user
      problem_points = problem.runs.where(:user_id => current_user.id).maximum(:total_points)
    end %>
    <tr>
      <td><%= link_to problem.name, get_problem_description_practice_path(:contest_id => problem.contest.id, :problem_id => problem.id) %></td>
      <td><%= link_to problem.contest.name, open_contest_practice_path(:contest_id => problem.contest.id) %></td>
      <td><%= problem_runs_count(problem) %></td>
      <td><%= number_with_precision(problem_runs_total_points(problem) / problem_runs_count(problem), :precision => 2) %></td>
      <% if current_user %>
        <td><%= problem_points %></td>
      <% end %>
      <td><%= link_to "Решения", problem_runs_path(:id => problem.id) %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @problems, renderer: BootstrapPagination::Rails %>
