<h1>Резултати от <%= @contest.name %></h1>
<table id="results">
  <tr>
    <th rowspan="2">Място</th>
    <th rowspan="2">Участник</th>
    <% @contest.problems.each do |problem| %>
      <th colspan="<%= problem.number_of_tests + 1 %>"><%= problem.name %></th>
    <% end %>
    <th rowspan="2">Общо точки</th>
    <th rowspan="2">Стар рейтинг</th>
    <th rowspan="2">Нов рейтинг</th>
    <th rowspan="2">Разлика</th>
  </tr>
  <tr>
    <% @contest.problems.each do |problem| %>
      <% problem.input_files.each_with_index do |test, index| %>
        <th><%= index + 1 %></th>
      <% end %>
      <th>Общо</th>
    <% end %>
  </tr>
  <% @results.each_with_index do |result, index| %>
    <tr>
      <td><%= result.first %></td>
      <td class="<%= user_rating_css_class(result.second) %>"><%= link_to result.second.name, user_path(result.second) %></td>
      <% result[2..-2].each do |problem_pts| %>
        <% problem_pts.each do |pts| %>
          <td><%= pts %></td>
        <% end %>
      <% end %>
      <td><%= result[-1].round.to_i %></td>
      <td><%= @ratings[index].previous_rating_change.rating %></td>
      <td><%= @ratings[index].rating %></td>
      <td><%= @ratings[index].rating - @ratings[index].previous_rating_change.rating %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Начало", :action => "index" %></p>