<h2>Статус на системата</h2>

<h3>Последни събмити</h3>
<%= will_paginate @runs, :next_label => "По-стари>>", :previous_label => "<<По-нови" %>
<table class="runs_list">
    <tr>
        <th>Пратено на</th>
        <th>Състезание</th>
        <th>Задача</th>
        <th>Потребител</th>
        <th>Език</th>
        <th class="status">Статус</th>
        <th>Max Време</th>
        <th>Max Памет</th>
    </tr>
<% for run in @runs %>
    <tr>
        <td><%= run.created_at %></td>
        <td><%= link_to run.problem.contest.name, :controller => :practice, :action => :open_contest, :contest_id => run.problem.contest.id %></td>
        <td><%= link_to run.problem.name, :controller => :practice, :action => :get_problem_description, :contest_id => run.problem.contest.id, :problem_id => run.problem.id %></td>
        <td><%= link_to run.user.name, user_path(run.user) %></td>
        <td><%= run.language %></td>
        <td class="status"><%= run.status %></td>
        <td class="time"><%= run.max_time.to_f %> sec.</td>
        <td class="mem"><%= run.max_memory.to_i / 1024 %> KB</td>
    </tr>
<% end %>
</table>
<%= will_paginate @runs, :next_label => "По-стари>>", :previous_label => "<<По-нови" %>
