<%= will_paginate runs, renderer: BootstrapPagination::Rails %>
<table class="runs_list">
    <tr>
        <th>Пратено на</th>
        <th>Език</th>
        <th>Състезание</th>
        <th>Задача</th>
        <th>Потребител</th>
        <th>Статус</th>
        <th>Max време</th>
        <th>Max памет</th>
        <th></th>
    </tr>
<% for run in runs do %>
    <tr>
        <td><%= run.created_at.to_s :long %></td>
        <td><%= run.language %></td>
        <td><%= link_to run.problem.contest.name, admin_contest_path(run.problem.contest) %></td>
        <td><%= link_to run.problem.name, admin_contest_problem_path(run.problem.contest,run.problem) %></td>
        <td><%= link_to run.user.name, admin_user_path(run.user) %></td>
        <td class="status"><%= run.status %></td>
        <td class="time"><%= run.max_time.to_f %></td>
        <td class="mem"><%= run.max_memory.to_i / 1024 %> KB</td>
        <td>
            <% if policy(run).queue? %>
                <%= link_to "Тестване", queue_admin_contest_run_path(run.problem.contest, run) %>
            <% end %>
            <% if policy(run).show? %>
                <%= link_to "Разглеждане", admin_contest_problem_run_path(run.problem.contest, run.problem, run) %>
            <% end %>
            <% if policy(run).edit? %>
                <%= link_to "Редактиране", edit_admin_contest_problem_run_path(run.problem.contest, run.problem, run) %>
            <% end %>
        </td>
    </tr>
<% end %>
<% if runs.empty? %>
    <tr>
        <td colspan="7">Няма пратени решения</td>
    </tr>
<% end %>
</table>
<%= will_paginate runs, renderer: BootstrapPagination::Rails %>
