<h2>Изпрати решение</h2>
<br />
<%= form_for [:admin, :contest, :problem, @run] do |f| -%>
  <%= f.error_messages %>
  <%= render :partial => 'run_fields', :locals => { :f => f } %>
  <p>
    <%= f.submit "Изпрати" %>
  </p>
  <%= link_to "Отказ", :action => :index %>
<% end -%>