<h1>Run <%= @run.id %></h1>

<p>Пратено на: <%= @run.created_at.to_s :long %></p>
<p>Статус: <b><%= @run.status %></b></p>
<p><%= link_to "Редактиране", edit_admin_contest_problem_run_path(@run.problem.contest, @run.problem, @run) %></p>
<p><%= link_to "Тестване", queue_admin_contest_problem_run_path(@run.problem.contest, @run.problem, @run) %></p>

<h2>Source code</h2>
<%= CodeRay.scan(@run.source_code, :cplusplus).html(line_numbers: :table).html_safe %>
<p>Log:</p>
<pre>
<%= @run.log %>
</pre>
