<h1>Вход</h1>
<br />
<%= form_tag session_path {}, :class => "new_session" do -%>
  <p>
    <%= link_to '', user_omniauth_authorize_path(:facebook), class: "facebook-login"%>
    <%= label_tag 'login', "Потребителско име или Email адрес" %>
    <%= text_field_tag 'login', @login %>
    <em>Можете да въведете както потребителското си име, така и email адреса си. Няма значение кое от двете.</em>
  </p>
  <br />
  <p><%= label_tag 'password', "Парола" %>
  <%= password_field_tag 'password', nil %></p>
  <br />
  <p><%= submit_tag 'Влез', class: "btn btn-default" %></p>
  <p>Нямате акаунт? Можете да си направите ето <%= link_to "тук", new_user_path %></p>
  <p><%= link_to "Забравена парола?", :controller => :users, :action => "password_forgot" %></p>
<% end -%>
