<h1>Състезание <%= @contest.name %></h1>
<br />
<p><em>Оставащо време:</em> <strong><%= time_left_for_user_in_contest(current_user, @contest) -%></strong></p>
<br />
<%= render :partial => 'tasks' %>

<br />
<%= render :partial => 'user_runs' %>

<br />
<%= render :partial => 'send_solution' %>

<%= link_to "Обратно към списъка със състезания", root_path %>
