<h1>Състезания</h1>
<br />

<% if !@contests.blank? %>
  <p><%= will_paginate @contests %></p>
  <table>
    <tr>
      <th>Име</th>
      <th>Начало</th>
      <th>Край</th>
      <th>Дължина</th>
      <th>Действия</th>
    </tr>
  <% for contest in @contests %>
    <tr>
      <td><%= contest.name %></td>
      <td><%= contest.start_time.to_s :long %></td>
      <td><%= contest.end_time.to_s :long %></td>
      <td><%= duration_in_words contest.duration.minutes  %></td>
      <td>
        <%= link_to "Промяна", edit_admin_contest_path(contest) %> |
        <%= link_to "Изтриване", admin_contest_path(contest), :confirm => "Сигурни ли сте, че желаете да изтриете това състезание?", :method => :delete %> |
        <%= link_to "Задачи", admin_contest_problems_path(contest) %> |
        <%= link_to "Решения", admin_contest_runs_path(contest) %>
      </td>
    </tr>
  <% end %>
  </table>
  <p><%= will_paginate @contests %></p>
<% else %>
  Няма състезания в системата.
<% end %>
<br />
<p>
  <%= link_to "Ново състезание", new_admin_contest_path %> |
  <%= link_to "Начална страница", root_path %>
</p>