<p>
  <%= f.label :name, "Име:" %>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :time_limit, "Time limit:" %>
  <%= f.text_field :time_limit %>
  <em>In seconds. Can be a float number (ex. 0.34)</em>
</p>
<p>
  <%= f.label :memory_limit, "Memory limit:" %>
  <%= f.text_field :memory_limit %>
  <em>In bytes. Should be integer</em>
</p>
