<h1>Промяна на <%= @problem.name %></h1>
<%= form_for [:admin, @problem.contest, @problem] do |f| -%>
  <p>
    <%= f.error_messages %>
  </p>

  <%= render :partial => 'problem_fields', :locals => { :f => f } %>
  <p>
    <p>
      <%= f.label :runs_visible, "Видими ли са отговорите:"%>
      <%= f.check_box :runs_visible, :disabled => true %>
    </p>
    <%= f.submit "Обновяване" %><%= link_to "Отказ", admin_contest_problems_path(@problem.contest) %>
  </p>

<% end -%>
    <%if current_user.admin?%>
      <%= button_to "Switch Visibility", {:action => "toggle_runs_visible"}, :method => "put"%>
    <%end%>
    