<h1>Задачи от <%= @contest.name %></h1>
<br />
<% if !@contest.problems.blank? %>
  <table>
    <tr>
      <th>Име</th>
      <th>Time Limit</th>
      <th>Действия</th>
    </tr>
  <% for problem in @contest.problems do %>
    <tr>
      <td><%= problem.name %></td>
      <td><%= problem.time_limit %></td>
      <td>
        <%= link_to "Решения", admin_contest_problem_runs_path(@contest, problem) %> |
        <%= link_to "Преглед", admin_contest_problem_path(@contest, problem) %> |
        <%= link_to "Изтриване на файловете", purge_files_admin_contest_problem_path(@contest, problem) %> |
        <%= link_to "Промяна", edit_admin_contest_problem_path(@contest, problem) %> |
        <%= link_to "Изтриване", admin_contest_problem_path(@contest, problem), :method => :delete, :data => { :confirm => "Are you sure you want to delete this problem?" } %>
      </td>
    </tr>
  <% end %>
  </table>
<% else %>
  No problems defined
<% end %>
<br />
<p>
  <%= link_to "Нова задача", new_admin_contest_problem_path(@contest) %> |
  <%= link_to "Списък със състезания", admin_contests_path %>
</p>