<h1>Задача <%= @problem.name %></h1>
<p>
  Име: <%= @problem.name %>
</p>
<p>
  Категории:
  <% for cat in @problem.categories do %>
     <%= h(cat.name) %>,
  <% end %>
</p>
<p>
  Time limit: <%= @problem.time_limit %> sec.
</p>
<p>
  Memory limit: <%= @problem.text_memory_limit %>
</p>
<p>
	<%= link_to "Решения", admin_contest_problem_runs_path(@problem.contest, @problem.id) %>
	<%= link_to "Промяна", edit_admin_contest_problem_path(@problem.contest, @problem.id) %>
	<% if @problem.checker_source %>
	  <%= link_to "Компилиране на чекер", compile_checker_admin_contest_problem_path(@problem.contest, @problem.id) %>
	<% end %>
</p>
<% if !@problem.all_files.blank? %>
  <h2>Files</h2>
  <p>
    <% for file in @problem.all_files do %>
      <%= link_to File.basename(file), download_file_admin_contest_problem_path(@problem.contest, @problem, :file => File.basename(file)) %>
    <% end %>
  </p>
  <p><%= link_to "Изтриване на всички файлове", purge_files_admin_contest_problem_path(@problem.contest, @problem) %></p>
<% end %>
<p>
  <%= link_to "Качване на файл", upload_file_admin_contest_problem_path(@problem.contest, @problem) %>
</p>
<p>
  <%= link_to "Назад", admin_contest_problems_path(@problem.contest) %>
</p>
