<h1>Upload a file for problem <%= @problem.name %></h1>
<%= form_tag do_upload_file_admin_contest_problem_path(@problem.contest, @problem), :multipart => true do %>
  <p>
    <%= label :tests, "Файл за качване:" %>
    <%= file_field :tests, :file %>
    <em>Ако качите zip архив, той ще бъде разархивиран и всички файлове в основната директория ще бъдат прибавени към файловете на задачата</em>
  </p>
  <p>
    <%= submit_tag "Качване" %><%= link_to "Отказ", admin_contest_problems_path(@problem.contest) %>
  </p>
<% end %>