<p>
  <%= f.label :name, "Name:" %>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :about, "Description:" %>
  <%= f.text_area :about %>
</p>
<p>
  <%= f.label :time_limit, "Time Limit:" %>
  <%= f.text_field :time_limit %>
  <em>In seconds. Should be integer</em>
</p>
