<h1>Edit <%= @problem.name %></h1>
<% form_for [:admin, @problem.contest, @problem] do |f| -%>
  <p>
    <%= f.error_messages %>
  </p>
  <%= render :partial => 'problem_fields', :locals => { :f => f } %>
  <p>
    <%= f.submit "Edit" %><%= link_to "Cancel", admin_contest_problems_path(@problem.contest) %>
  </p>
<% end -%>