<h2>Problems of <%= @contest.name %></h2>
<% if !@contest.problems.blank? %>
  <table>
    <tr>
      <th>Name</th>
      <th>Time Limit</th>
      <th>Actions</th>
    </tr>
  <% for problem in @contest.problems %>
    <tr>
      <td><%= problem.name %></td>
      <td><%= problem.time_limit %></td>
      <td>
        <%= link_to "Runs", admin_contest_problem_runs_path(@contest, problem) %>
        <%= link_to "View", admin_contest_problem_path(@contest, problem) %>
        <%= link_to "Purge files", purge_files_admin_contest_problem_path(@contest, problem) %>
        <%= link_to "Upload file", upload_file_admin_contest_problem_path(@contest, problem) %>
        <%= link_to "Edit", edit_admin_contest_problem_path(@contest, problem) %>
        <%= link_to "Delete", admin_contest_problem_path(@contest, problem), :method => :delete, :confirm => "Are you sure you want to delete this problem?" %>
      </td>
    </tr>
  <% end %>
  </table>
<% else %>
  No problems defined
<% end %>
<p>
  <%= link_to "Add problem", new_admin_contest_problem_path(@contest) %>
  <%= link_to "Contest list", admin_contests_path %>
</p>