<h1>Съобщениe</h1>
<%= link_to "Назад", new_admin_message_path %>
<h2><%= @message.subject %></h2>

<div class="message">
	<p class="label">Съобщение:</p>
	<p class="body"><%= @message.body.gsub("\n", "<br/>") %></p>
	<p class="label">Пратено до:</p>
	<p>
		<table>
			<% parse_email_list(@message.emails_sent).sort.in_groups_of(4).each do |group| %>
				<tr>
					<% group.each do |item| %>
						<td><%= item %></td>
					<% end %>
				</tr>
			<% end %>
		</table>
	</p>
</div>
<%= link_to "Назад", new_admin_message_path %>