<h1>Решения</h1>
<br />
<%= render :partial => 'runs_table', :locals => { :runs => @runs } %>
<br />
<p>
  <% if @problem and @contest %>
    <%= link_to "Тестване на всички", queue_admin_contest_problem_runs_path(@contest, @problem) %>
  <% elsif @contest %>
    <%= link_to "Тестване на всички", queue_admin_contest_runs_path(@contest) %>
  <% end %>
  |
  <% if @problem %>
    <%= link_to "Списък със състезания", admin_contest_problems_path(@contest) %>
  <% else %>
    <%= link_to "Списък със състезания", admin_contests_path %>
  <% end %>
  |
  <% if @problem and @contest %>
    <%= link_to "Пращане на решение", new_admin_contest_problem_run_path(@contest, @problem) %>
  <% end %>
</p>