<h1>Runs</h1>
<% if !@runs.blank? %>
  <table>
    <tr>
      <th>id</th>
      <th>Time submitted</th>
      <th>Problem name</th>
      <th>Contest name</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  <% for run in @runs %>
    <tr>
      <td><%= run.id %></td>
      <td><%= run.created_at.to_s :long %></td>
      <td><%= link_to run.problem.name, admin_contest_problem_path(run.problem.contest, run.problem) %></td>
      <td><%= link_to run.problem.contest.name, admin_contest_path(run.problem.contest) %></td>
      <td><%= run.status %></td>
      <td>
        <%= link_to "Queue for testing", queue_admin_contest_run_path(run.problem.contest, run) %>
      </td>
    </tr>
  <% end %>
  </table>
<% else %>
  No runs found
<% end %>

<p>
  <% if @problem and @contest %>
    <%= link_to "Queue all", queue_admin_contest_problem_runs_path(@contest, @problem) %>
  <% elsif @contest %>
    <%= link_to "Queue all", queue_admin_contest_runs_path(@contest) %>
  <% end %>
</p>

<p>
  <% if @problem %>
    <%= link_to "Back", admin_contest_problems_path(@contest) %>
  <% else %>
    <%= link_to "Back", admin_contests_path %>
  <% end %>
</p>