<h1>Run <%= @run.id %></h1>

<p>Submitted at: <%= @run.created_at.to_s :long %></p>
<p><%= link_to "Редактиране", edit_admin_contest_problem_run_path(@run.problem.contest, @run.problem, @run) %></p>

<h2>Source code</h2>
<pre>
  <code class="cpp">
<%= h @run.source_code %>
  </code>
</pre>

<p>Log:</p>
<pre>
<%= @run.log %>
</pre>