<div class="form-group">
  <%= f.label :login, "Потребителско име:", class: "col-sm-3 control-label" %>
  <div class="col-sm-9">
    <%= f.text_field :login, class: "form-control", placeholder: "С това име ще влизате в системата" %>
  </div>
</div>


<div class="form-group">
  <%= f.label :name, "Истинско име:", class: "col-sm-3 control-label" %>
  <div class="col-sm-9">
    <%= f.text_field :name, class: "form-control", placeholder: "Това име ще се появява в класиранията" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :city, "Град:", class: "col-sm-3 control-label" %>
  <div class="col-sm-9">
    <%= f.collection_select :city, BG_CITIES, :to_s, :to_s, { include_blank: "Моля изберете" }, { class: "form-control" } %>
  </div>
</div>

<div class="form-group">
  <%= f.label :email, "E-mail:", class: "col-sm-3 control-label" %>
  <div class="col-sm-9">
    <%= f.text_field :email, class: "form-control", placeholder: "e-mail адрес в случай на забравена парола" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :unencrypted_password, "Парола:", class: "col-sm-3 control-label" %>
  <div class="col-sm-9">
    <%= f.password_field :unencrypted_password, class: "form-control", placeholder: "Парола за влизане в системата" %>
    <% if update %>
      <em>Не попълвайте, ако не искате да промените паролата си</em>
    <% end %>
  </div>
</div>

<div class="form-group">
  <%= f.label :unencrypted_password_confirmation, "Потвърждение на паролата:", class: "col-sm-3 control-label" %>
  <div class="col-sm-9">
    <%= f.password_field :unencrypted_password_confirmation, class: "form-control", placeholder: "Същата парола (потвърждение)" %>
  </div>
</div>
