<h1>Подновяване на парола</h1>
<p>Моля, въведете новата парола и я потвърдете.</p>
<%= error_messages_for :user %>
<%= form_for @user, :url => do_reset_password_user_path(@user) do |f| -%>
  <%= hidden_field_tag :token, params[:token] %>
  <p>
    <%= f.label :unencrypted_password, "Нова парола:" %>
    <%= f.password_field :unencrypted_password %>
  </p>
  <p>
    <%= f.label :unencrypted_password_confirmation, "Потвърдете новата парола:" %>
    <%= f.password_field :unencrypted_password_confirmation %>
  </p>
  <p>
    <%= f.submit "Поднови" %>
  </p>
<% end -%>