<h1><%= @user.name %></h1>
<ul class="no_bullets">
  <li><strong>Общ брой точки:</strong> <%= @user.total_points %></li>
  <li><strong>Пратени решения:</strong> <%= @user.runs.count %></li>
  <li><strong>Решения за 100 точки:</strong> <%= @user.full_tasks %></li>
  <li><strong>Участия в състезания:</strong> <%= @user.contest_start_events.count %></li>
</ul>
<%= @daily_submits_report %>
<%= @total_submits_report %>
<%= link_to "Назад", :back %>
