<h1>Създаване на категория </h1>
<% form_for [:admin, @category] do |f| -%>
  <p>
    <%= f.error_messages %>
  </p>
  <p>
    <%= f.label :name, "Име:" %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Създаване" %><%= link_to "Отказ", new_admin_category_path() %>
  </p>
<% end -%>

