<div id="navigation">
	<!-- menus START -->
	<ul id="menus">
        <% if !current_user.andand.admin %>
          <li class="page_item"><a class="home" title="Home" href="http://cs.maycamp.com/">Home</a></li>
          <li class="page_item"><a href="http://cs.maycamp.com/?page_id=168" title="Анализи">Анализи</a></li>
          <li class="page_item"><a href="http://cs.maycamp.com/?page_id=83" title="Статии">Статии</a></li>
<!--          <li class="page_item"><a href="http://cs.maycamp.com/?page_id=89" title="Задачи">Задачи</a></li> -->
          <li class="current_page_item"><a href="http://arena.maycamp.com/" title="Aрена">Aрена</a></li>
          <li class="page_item"><a href="http://cs.maycamp.com/?page_id=13" title="Календар">Календар</a></li>
          <li class="page_item"><a href="http://cs.maycamp.com/?page_id=3" title="Форум">Форум</a></li>
          <li class="page_item"><a href="http://cs.maycamp.com/?page_id=2" title="За нас">За нас</a></li>
        <% else %>
		<li class="page_item"><%= link_to "Home", root_path, :class => "home" %></li>
        <li class="page_item"><%= link_to "Състезания", admin_contests_path %></li>
        <li class="page_item"><%= link_to "Потребители", admin_users_path %></li>
        <li class="page_item"><%= link_to "Статус", admin_status_path %></li>
      <% end %>
      
      <% if current_user %>
        <li class="page_item"><%= link_to "#{current_user.name} (Изход)", logout_path %></li>
      <% end %>

		<li><a class="lastmenu" href="javascript:void(0);"></a></li>
	</ul>
	<!-- menus END -->
	<div class="fixed"></div>
</div>
<!-- navigation END -->