<h1>Резултати от <%= @contest.name %></h1>
<table>
  <tr>
    <th rowspan="2">Участник</th>
    <% @contest.problems.each do |problem| %>
      <th colspan="<%= problem.number_of_tests + 1 %>"><%= problem.name %></th>
    <% end %>
    <th rowspan="2">Общо точки</th>
  </tr>
  <tr>
    <% @contest.problems.each do |problem| %>
      <% problem.input_files.each_with_index do |test, index| %>
        <th>Тест <%= index + 1 %></th>
      <% end %>
      <th>Общо</th>
    <% end %>
  </tr>
  <% @results.each do |result| %>
    <tr>
      <td><%= result.first %></td>
      <% result[1..-2].each do |problem_pts| %>
        <% problem_pts.each do |pts| %>
          <td><%= pts %></td>
        <% end %>
      <% end %>
      <td><%= result[-1] %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Начало", :action => "index" %></p>