<p>
    <%= f.label :login, "Потребителско име:" %>
    <%= f.text_field :login %>
</p>
<p>
    <%= f.label :name, "Истинско име:" %>
    <%= f.text_field :name %>
</p>
<p>
    <%= f.label :email, "Email:" %>
    <%= f.text_field :email %>
</p>
<p>
  <%= f.label :city, "Град:" %>
  <%= f.collection_select :city, BG_CITIES, :to_s, :to_s %>
</p>
<p>
    <%= f.label :unencrypted_password, "Парола:" %>
    <%= f.password_field :unencrypted_password %>
    <em>Не въвеждайте нищо ако не желаете да я променяте.</em>
</p>
<p>
    <%= f.label :unencrypted_password_confirmation, "Паролата отново:" %>
    <%= f.password_field :unencrypted_password_confirmation %>
</p>
<p>
  <%= f.label :admin, "Администратор?" %>
  <%= f.check_box :admin %>
</p>
<p>
  <%= f.label :contester, "Състезател?" %>
  <%= f.check_box :contester %>
</p>
