<h1>Потребители</h1>
<p><%= link_to "Нов потребител", :action => "new" %></p>
<br />
<p>
	<%= form_for @search, :as => :search, :url => { :action => :index }, :html => { :method => :get } do |f| -%>
	  <p>
	  	<%= f.label :q, "Търсене:" %>
			<%= f.text_field :q %>
			<%= f.submit "Филтрирай" %>
	  </p>
	<% end -%>
</p>
<br />
</p>
	<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
	<% if !@users.blank? %>
  <table class="table table-bordered">
    <tr>
      <th>Login</th>
      <th>Име</th>
      <th>Email</th>
      <th>Роля</th>
      <th>Действия</th>
    </tr>
  <% for user in @users do %>
    <tr>
      <td><%= user.login %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.role %></td>
      <td>
        <%= link_to "Админ преглед", admin_user_path(user) %>
        <%= link_to "Преглед", user_path(user) %>
        <%= link_to "Редакция", edit_admin_user_path(user) %>
        <%= link_to "Логин", impersonate_admin_user_path(user), method: :post %>
        <%= link_to "Изтриване", admin_user_path(user), :data => { :confirm => "Сигурни ли сте, че искате да изтриете този потребител?" }, :method => :delete %>
      </td>
    </tr>
  <% end %>
  </table>
	<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
<% end %>
<br />
