<h2>Потребител <%= @user.name %></h2>
<br />
<br />
<h3>Пратени решения</h3>
<br />
<%= render :partial => 'admin/runs/runs_table', :locals => { :runs => @runs } %>
<br />
<br />
<h3>Отворени състезания</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>Състезание</th>
        <th>Отворено на</th>
        <th>Оставащо време</th>
        <th></th>
    </tr>
    <% for start_event in @user.contest_start_events do %>
        <tr>
            <td><%= link_to start_event.contest.name, admin_contest_path(start_event.contest) %></td>
            <td><%= start_event.created_at %></td>
            <td><%= time_left_for_user_in_contest(@user, start_event.contest) %></td>
            <td>
                <%= link_to "Рестартирай таймера", restart_time_admin_user_path(@user, :contest_id => start_event.contest.id) %>
            </td>
        </tr>
    <% end %>
</table>
