<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Admin panel</title>
  <%= stylesheet_link_tag 'admin' %>
  <%= stylesheet_link_tag "highlight/idea" %>
  <%= javascript_include_tag "highlight.pack" %>
  <% javascript_tag do %>
    // Syntax highlighting
    hljs.initHighlightingOnLoad();
  <% end %>
</head>
<body>
  <p class="notice"><%= flash[:notice] %></p>
  <p class="error"><%= flash[:error] %></p>
  <%= render :partial => 'admin/admin_menu' %>
  <%= yield %>

  <%= render :partial => "google_analytics" %>
</body>
</html>