<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Admin panel</title>
  <%= stylesheet_link_tag 'admin', :cache => true %>
  <%= stylesheet_link_tag "highlight/idea", :cache => true %>
  <%= javascript_include_tag "highlight.pack", :cache => true %>
  <% javascript_tag do %>
    // Syntax highlighting
    hljs.initHighlightingOnLoad();
  <% end %>
  <body>
    <p class="notice"><%= flash[:notice] %></p>
    <p class="error"><%= flash[:error] %></p>
    <%= render :partial => 'admin/admin_menu' %>
    <%= yield %>
  </body>
</head>