<h2>Решения</h2>
<br />
<% if !@contest.runs.find_all_by_user_id(current_user.id).blank? %>
  <br />
  <br />
  <table>
    <tr>
      <th>Id</th>
      <th>Пратено на</th>
      <th>Задача</th>
      <th>Език</th>
      <th>Статус</th>
      <th></th>
    </tr>
  <% for run in @contest.runs.find_all_by_user_id(current_user.id) do %>
    <tr>
      <td><%= run.id %></td>
      <td><%= run.created_at.to_s :long %></td>
      <td><%= run.problem.name %></td>
      <td><%= run.language %></td>
      <td><%= run.status %></td>
      <td>
        <%= link_to "Виж сорс кода", :action => :view_source, :contest_id => @contest.id, :run_id => run.id %>
      </td>
    </tr>
  <% end %>
  </table>
<% else %>
  <p>Няма изпратени решения.</p>
<% end %>
