<h1>Практикуване на <%= @contest.name %></h1>
<%= render :partial => 'common/tasks', :local => { :practice => true } %>
<%= render :partial => 'user_runs' %>
<%= render :partial => 'common/send_solution' %>
<%= link_to "Обратно към списъка със състезания", root_path %>
