v<h1>Решение с номер <%= @run.id %></h1>
<p>Пратено на: <%= @run.created_at.to_s :long %></p>
<p>Статус: <%= @run.status %></p>
Сорс код:
<pre>
<code class="cpp">
<%= h @run.source_code.force_encoding("UTF-8") %>
</code>
</pre>

<% if @run.status.include?("ce") %>
    <p>Log:</p>
    <pre>
<%= @run.log %>
    </pre>
<% end %>
<%= link_to "Обратно към състезанието", :action => :open_contest, :contest_id => @run.problem.contest.id %>