<table class="table table-bordered table-condensed contests">
  <tr>
    <th>Име</th>
    <th>Вашите точки</th>
    <th></th>
  </tr>
  <% contests.each do |contest| %>
    <tr>
      <td class="name"><%= contest.name %></td>
      <td class="practice_score">
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= contest.decorate.best_practice_score %>" aria-valuemax="<%= contest.max_score %>" aria-valuemin="0" style="width: <%= contest.decorate.practice_score_percent %>%;">
            <%= contest.decorate.best_practice_score %>/<%= contest.max_score %>
          </div>
        </div>
      </td>
      <td class="actions">
        <%= link_to "Практикувай", open_contest_practice_path(:contest_id => contest.id) %>
      </td>
    </tr>
  <% end %>
</table>
