<h2>Задачи</h2>
<% if !@contest.problems.blank? %>
  <table class="table table-bordered">
    <tr>
      <th>Условие</th>
      <th>Time limit</th>
      <th>Memory limit</th>
      <% if defined?(practice) %>
        <th>Пратени решения</th>
        <th>Среден брой точки</th>
        <th>Решения</th>
      <% end %>
    </tr>
  <% for problem in @contest.problems do %>
    <tr>
      <td><%= link_to problem.name, :action => "get_problem_description", :contest_id => @contest.id, :problem_id => problem.id %></td>
      <td><%= problem.time_limit %> sec.</td>
      <td><%= problem.text_memory_limit %></td>
      <% if defined?(practice) %>
        <td><%= problem_runs_count(problem) %></td>
        <td><%= number_with_precision(problem_runs_total_points(problem) / problem_runs_count(problem), :precision => 2) %></td>
        <td><%= link_to "Решения", problem_runs_path(problem.id) %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
<% else %>
  Няма задачи в това състезание
<% end %>
