<p>
  <%= f.label :name, "Име:" %>
  <%= f.text_field :name %>
</p>
<br />
<p>
  <%= f.label :about, "Описание:" %>
  <%= f.text_area :about, :rows => 5 %>
</p>
<br />
<p>
  <%= f.label :start_time, "Начало:" %>
  <%= f.datetime_select :start_time %>
</p>
<br />
<p>
  <%= f.label :start_time, "Край:" %>
  <%= f.datetime_select :end_time %>
</p>
<br />
<p>
  <%= f.label :duration, "Продължителност:" %>
  <%= f.text_field :duration %>
  <em>минути</em>
</p>
<br />
<p>
  <%= f.label :practicable, "Може ли да се упражнява:" %>
  <%= f.check_box :practicable %>
</p>
<br />
<p>
  <%= f.label :results_visible, "Видими ли са резултатите:" %>
  <%= f.check_box :results_visible %>
</p>
<br />
<p>
  <%= f.label :auto_test, "Автоматично тестване на решенията:" %>
  <%= f.check_box :auto_test %>
</p>