<h2>Решения</h2>
<br />
<% if !@contest.runs.where(:user_id => current_user.id).blank? %>
  <% if !@contest.best_submit_results %>
    <em>Само последното изпратено решение за всяка задача ще се има предвид при оценяването.</em>
  <% else %>
    <em>Най-доброто решение на всяка задача, че участва с крайното класиране</em>
  <% end %>
  <br />
  <br />
  <table>
    <tr>
      <th>Id</th>
      <th>Пратено на</th>
      <th>Задача</th>
      <th>Език</th>
      <th>Статус</th>
      <th>Max Време</th>
      <th>Max Памет</th>
      <th></th>
    </tr>
  <% for run in @contest.runs.where(:user_id => current_user.id).order("created_at DESC") do %>
    <tr>
      <td><%= run.id %></td>
      <td><%= run.created_at.to_s :long %></td>
      <td><%= run.problem.name %></td>
      <td><%= run.language %></td>
      <td><%= run.status %></td>
      <td class="time"><%= run.max_time.to_f %> sec.</td>
      <td class="mem"><%= run.max_memory.to_i / 1024 %> KB</td>
      <td>
        <%= link_to "Виж сорс кода", :action => :view_source, :contest_id => @contest.id, :run_id => run.id %>
      </td>
    </tr>
  <% end %>
  </table>
<% else %>
  <p>Няма изпратени решения.</p>
<% end %>
