<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <%= csrf_meta_tag %>
  <title>maycamp arena - състезания по алгоритми</title>
  <%= stylesheet_link_tag "application" %>
</head>
<body>
<!-- wrap START -->
<div id="wrap">
<!-- container START -->
<div id="container" class="one-column" >
<%= render :partial => "main/header" %>
<%= render :partial => "main/navigation" %>

<!-- content START -->
<div id="content">
  <% if current_user.andand.admin? and controller.is_a?(Admin::BaseController) %>
    <p id="breadcrumbs"><strong>Вие сте тук:</strong> <%= get_bread_crumb(request.path) %></p>
  <% end %>
  <%- if flash[:notice] -%>
    <p class="notice"><%= flash[:notice] %></p>
  <%- end -%>
  <%- if flash[:error] -%>
    <p class="error"><%= flash[:error] %></p>
  <%- end -%>
  <%= yield %>
</div>
<!-- content END -->

<%= render :partial => "main/footer" %>

</div>
<!-- container END -->

</div>
<!-- wrap END -->

<%= include_gon(init: true) %>
<%= javascript_include_tag "application" %>
<%= render :partial => "common/google_analytics" %>
<%= render :partial => "common/chartbeat_analytics" %>
</body>
</html>
